div.modal.fade#changePasswordModal(ng-controller="ChangeUserPassword as changePass" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel")
    div.modal-dialog
        div.modal-content
            form(ng-submit="changePassword(name, password, passwordConfirm)")
                div.modal-header
                    h4.modal-title(id="changePasswordModalLabel") Change password for: {{name}}
                div.modal-body
                    div.alert.alert-danger(ng-show="error") {{error}}
                    div.form-group
                        label(for="password") Password
                        input.form-control#cpPassword(type="password" placeholder="Enter password" ng-model='password' autofocus)
                    div.form-group
                        label(for="confirm-password") Confirm password
                        input.form-control#cpConfirm(type="password" ng-model="passwordConfirm" placeholder="Confirm password")
                div.modal-footer
                    button.btn.btn-default.btn-rounded(data-dismiss="modal") Close
                    input.btn.btn-primary.btn-rounded(type="submit" value="Change password")
