//div.modal.fade#change-password-modal(ng-controller="UserController as users" tabindex="-1" role="dialog" aria-labelledby="change-password-modal-label"
div.modal.fade#change-password-modal(tabindex="-1" role="dialog" aria-labelledby="change-password-modal-label" aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                h4.modal-title(id="change-password-modal-label") Change password for: {{editUserName}}
            div.modal-body
                div.alert.alert-danger(ng-show="error") {{error.message}}
                form
                    div.form-group
                        label(for="password") Password
                        input.form-control(type="password" placeholder="Enter password" id="password"
                        ng-model="editUserPass1")
                    div.form-group
                        label(for="confirm-password") Confirm password
                        input.form-control(type="password" placeholder="Confirm password" id="confirm-password"
                        ng-model="editUserPass2")
            div.modal-footer
                button.btn.btn-default(data-dismiss="modal") Close
                button.btn.btn-primary(ng-click="users.changePassword()") Change password
