h3
    span Data
    button.pull-right.btn.btn-sm.btn-info(ng-if="table !== null", ng-click='dataProvider.transposeData()')
        span.glyphicon.glyphicon-retweet
        span  Transpose
div.data-table
    virtdb-table(data="dataRows", header="dataHeader", callback="dataProvider.selectField", selected-field="field", transposed="dataProvider.transposed")
