h3
    span.triangle
    span Preview
    button.pull-right.btn.btn-sm.btn-info(ng-if="table !== null", ng-click='dataProvider.transposeData()')
        span.button-icon-container
            img.button-icon(src="/images/transpose_icon.png")
        span Transpose
div.data-table
    virtdb-table(data="dataRows", header="dataHeader", callback="dataProvider.selectField", selected-field="field", transposed="dataProvider.transposed")
div(ng-if="dataProvider.isLoadingTable")
    include spinner
h6.pull-right(ng-if="dataRows.length == 20") Preview shows only the first 20 rows

