h3
    span.triangle
    span Column
    h4 Description
    table.table
        tr(ng-repeat="(key, value) in metaData.Desc")
            td {{key}}
            td {{value}}
    h4 Comments
    div.container(ng-repeat="comment in metaData.Comments")
        div {{comment.Text}}
    h4 Properties
    table.table
        tr(ng-repeat="(key, value) in metaData.Properties")
            td {{key}}
            td {{value.Value[0]}}
