div.panel.panel-default(ng-controller="ProviderController as providerCtrl")
    div.panel-body
        button.provider.btn.btn-success(name="{{_provider}}" ng-repeat="_provider in providerCtrl.providers" ng-click="providerCtrl.selectProvider(_provider)" ng-class="{active: providerCtrl.isSelected(_provider)}")
            span.glyphicon.glyphicon-hdd
            span  {{_provider}}
