h3 
    span Tables ({{tableListCount}})
    a(data-toggle="collapse", data-parent="#accordion", target="_self", href="#collapseFilter", ng-click="dataProvider.filterTableList()")
        span(ng-class="{empty: tableListFilter == null || tableListFilter.length == 0}").glyphicon.glyphicon-filter.text-right.pull-right
    span.pull-right.glyphicon.glyphicon-chevron-right(ng-class="{disabled: tableListTo == tableListCount}", ng-disabled="tableListTo == tableListCount", ng-click="dataProvider.getNextTables()")
    span.pull-right.glyphicon.glyphicon-chevron-left(ng-class="{disabled: tableListFrom <= 1}", ng-disabled="tableListFrom <= 1", ng-click="dataProvider.getPreviousTables()")
div.panel-group(id="accordion")
    div.panel.panel-default
        div.panel-collapse.collapse(id="collapseFilter")
            div.panel-body
                p
                    textarea.form-control(ng-model="tableListFilter" rows=10 ng-change="dataProvider.checkTableFilter()")
div.right-inner-addon
    input.form-control(type="text" ng-model="search" ng-change="dataProvider.searchTableNames()" id="searchInput")
    i.glyphicon.glyphicon-search
br
div
    span(ng-if="tableListCount > 0")
        input(type="checkbox", ng-model="dataProvider.isAllTableSelected", ng-change="dataProvider.selectAllTableChanged()") 
        label Select all        
    span.pull-right(ng-if="tableListFrom > 1 || tableListTo < tableListCount") Displaying: {{tableListFrom}} - {{tableListTo}}
    table-list(ng-if="!dataProvider.isLoading", data="dataProvider.tableList", table="table", check="dataProvider.changeSelection", click="dataProvider.selectTable", selection-counter="selectionCounter", configured-counter="configuredCounter")
    div(ng-if="dataProvider.isLoading")
        include spinner

