div(ng-controller="TableListController as tableListCtrl")
    h3 
        span Tables
        span(ng-if="tableListCount != null")  ({{tableListCount}})
        a(data-toggle="collapse", data-parent="#accordion", target="_self", href="#collapseFilter", ng-click="tableListCtrl.filterTableList()")
            span(ng-class="{empty: tableListFilter == null || tableListFilter.length == 0}").glyphicon.glyphicon-filter.text-right.pull-right
        span.pull-right.glyphicon.glyphicon-chevron-right(ng-class="{disabled: tableListTo == tableListCount - 1}", ng-disabled="tableListTo == tableListCount - 1", ng-click="tableListCtrl.getNextTables()")
        span.pull-right.glyphicon.glyphicon-chevron-left(ng-class="{disabled: tableListFrom == 0}", ng-disabled="tableListFrom == 0", ng-click="tableListCtrl.getPreviousTables()")
    div.panel-group(id="accordion")
        div.panel.panel-default
            div.panel-collapse.collapse(id="collapseFilter")
                div.panel-body
                    p
                        textarea.form-control(ng-model="tableListFilter" rows=10 ng-change="tableListCtrl.checkTableFilter()")
    div.right-inner-addon
        input.form-control(type="text" ng-model="search" ng-change="tableListCtrl.searchTableNames()" id="searchInput")
        i.glyphicon.glyphicon-search
    br
    div
        span.pull-right(ng-if="tableListFrom > 0 || tableListTo < tableListCount - 1") Displaying: {{tableListFrom + 1}} - {{tableListTo + 1}}
        table-list(ng-if="!tableListCtrl.isLoading", data="tableListCtrl.tableList", table="table", check="tableListCtrl.changeStatus", click="tableListCtrl.selectTable", configured-counter="configuredCounter", selected-table="tableListCtrl.selectedTable")
        div(ng-if="tableListCtrl.isLoading")
            include spinner

