# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependencies
npm-debug.log
node_modules
bower_components

# Compiled files
static
server/*

#test report
test_report.xml
cobertura-coverage.xml

# ide files
.idea/
tags
*.swp

# build tmp files
build-result/

# settings
*.json
.virtdb/
ssl/
