extends layout

block content
    h1 Endpoints
    table(class='virtdb-table', id='endpoints-table')
        tr
            th Name
            th SvcType
            th(colspan=2) Connections
        tr

        each ep in endpoints.Endpoints
            tr
                td #{ep.Name}
                td #{ep.SvcType}
                - var connection_field = ''
                each connection in ep.Connections
                    - connection_field += connection.Type + ': ' + connection.Address + '<br/>'
                td !{connection_field}
