extends layout

block content
    h1 Tables
    table(class='virtdb-table', id='metadata-table')
        tr
            th Name
            th Schema
            th(colspan=2) Fields
        tr

        each table in tables
            tr
                td #{table.Name}
                td #{table.Schema}
                - var field_text = ''
                each field in table.Fields
                    - field_text += field.Name + ': ' + field.Desc.Type + '<br/>'
                td !{field_text}
