extends layout

block content
    h1 Endpoints
    table(class='virtdb-table', id='endpoints-table')
        tr
            th Name
            th SvcType
            th(colspan=2) Connections
        tr

        each ep in endpoints.Endpoints
            tr
                td #{ep.Name}
                td #{ep.SvcType}
                td
                    each connection in ep.Connections
                        div
                            - connection_field = connection.Type + ': ' + connection.Address + '<br/>'
                            if ep.SvcType == 'META_DATA'
                                a(href="/metadata?url="+connection.Address) !{connection_field}
                            else
                                !{connection_field}
