//body
//  background-image: url("../images/login_page_background.png")
//  background-repeat no-repeat
//  background-attachment fixed
//  background-size 1920px 1080px
//  //min-height: 100%
//  background-position: -300px -200px

#loginFormContainer
  color #C1EAFC
  position relative
  top 80px
  left 100px
  min-height 80%

h1
  font-size 18px
  color #FFFFFF

.input-field
  color #000000
  padding-bottom 14px

body
  height 100%
  margin 0
  background-color #3496F1 /* uses a solid blue color at worst */
  //background-image url("../images/login_page_background.png")
  //background radial-gradient(circle at 220px 330px, #3496F1, #266FB7, #061933) no-repeat fixed
  // Quicker gradient, deep blue starts sooner
  //background: radial-gradient(circle at 220px 330px, #3496F2, #2771BA, #164171, #0E2C51, #061933) no-repeat fixed;

#loginLabels
  padding-top 30px
  padding-bottom 30px

#submitInput
  background-color #0A5CAD
  color #FFFFFF
  text-align center
  padding 6px
  padding-left 25px
  padding-right 25px
  border-style none
