.selected-component
    background-color #128f76
    border-color #11866f

.null-value
    font-style italic

.diag-item
    width 100%
    overflow auto
    text-overflow ellipsis
    white-space nowrap

.data-table
    overflow auto

.empty
    color Gray

.disabled
    color LightGray    

.provider
    padding 5 px
    margin 5 px

.right-inner-addon
    position relative

.right-inner-addon input
    padding-right 30px
    
.right-inner-addon i
    position absolute
    right 0px
    padding 10px 12px
    pointer-events none        

@font-face
  font-family: 'Glyphicons Halflings';
  src: url('../libs/glyphicons-halflings-regular.eot');
  src: url('../libs/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../libs/glyphicons-halflings-regular.woff') format('woff'), url('../libs/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

.main
    color blue

.videowrapper
    position relative
    padding-bottom 56.25%
    padding-top 25p
    height 0

.videowrapper iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.modal-backdrop
    z-index -1

.mermaid-label
    color #18bc9c

.img-circle.icon
    border-style solid
    border-width 1px
    border-color #0071bc

.person-title
    min-height: 45px

#person
    // border-style solid
    // border-width 1px
    // border-color #18bc9c
    // border-radius 25px

// Hacks for increasing freelancer template ul-s
ul
    font-size 20px

h1, h2, h3, h4, h5
    color #0071bc

h3, h4, h5
    text-transform none

a.btn-social
    color #0071bc

p
    text-align justify

.ng-invalid
    border-color red
