.selected-component
    background-color #3fa9f5
    border-color #3fa9f5

.user-name
    color #3fa9f5
    font-size 14px
    font-weight bold

.table-users
  margin 10px 0px 10px 0px
  thead
    tr
      background-color #F1EDE8
      th
        text-align left
  tbody
    tr
      background-color #FDFDFD
      border-bottom dotted 1px #474847

.null-value
    font-style italic

.diag-item
    width 100%
    overflow auto
    text-overflow ellipsis
    white-space nowrap

.data-table
    overflow auto

.empty
    color Gray

.disabled
    color #f0f0f0 !important

.provider
    padding 5px
    margin 0 5px 5px

.right-inner-addon
    position relative

.right-inner-addon input
    padding-right 30px
    
.right-inner-addon i
    position absolute
    right 0px
    padding 8px 12px
    pointer-events none        
    font-size 25px

@font-face
  font-family: 'Glyphicons Halflings';
  src: url('../libs/glyphicons-halflings-regular.eot');
  src: url('../libs/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../libs/glyphicons-halflings-regular.woff') format('woff'), url('../libs/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

.main
    color blue

.videowrapper
    position relative
    padding-bottom 56.25%
    padding-top 25p
    height 0

.videowrapper iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.modal-backdrop
    z-index -1

.mermaid-label
    color #18bc9c

.img-circle.icon
    border-style solid
    border-width 1px
    border-color #0071bc

.person-title
    min-height: 45px

#person
    // border-style solid
    // border-width 1px
    // border-color #18bc9c
    // border-radius 25px

// Hacks for increasing freelancer template ul-s
ul
    font-size 24px

h1 span, h2 span, h3 span, h4 span, h5 span
    color #003f8a

h1, h2, h3, h4, h5
    color #036db9

h3, h4, h5
    text-transform none

a.btn-social
    color #0071bc

p
    text-align justify

.ng-invalid
    border-color red

.provider-list
    box-shadow 0 1px 5px #999999

.filter-container
    margin-bottom 20px
    margin-top 10px
    box-shadow 4px 4px 45px -4px #999999
    position relative
    z-index 1000
    background #fff
    margin-left -1em
    padding 2em
    width calc(100% + 3em)

.button-icon-container
    display inline-block

.button-icon
    height 10px

.triangle
    border-bottom 8px solid #003f8a
    border-left 22px solid transparent
    border-right 0 solid transparent
    height 0
    width 0
    display inline-block

div.header
    background #f0f0f0

div.header h3
    margin 20px 0
    color #3fa9f5
    font-size 26px

.logo
    margin-left 20px

.table-list-icon
    font-size 20px
    line-height 25px

.table-pager
    font-size 30px
    color #FB1155

.fa-right
    margin-right 0
    line-height 1.5

.transparent
    opacity 0

.error
    color #e74c3c 

.switch-cell
    padding-right 10px !important

.switch-with-icon-cell
    padding-right 0px !important
    padding-left 0px !important

.metadata
    box-shadow: 4px 4px 45px -4px #999
    margin-right: -1em
    padding: 2em
    position: relative
    /* width: calc(100% - 93em); */
    margin-top: 10px
