div
    div.panel.panel-default
        div.panel-heading
            div.panel-title Data provider
        div.panel-body
            h4 Provider:
            select(
                ng-model='dataProvider.currentProvider',
                ng-options='provider for provider in dataProvider.providers',
                ng-change='dataProvider.onProviderChange()')
                option(value='') Select provider
    div.row
        div.col-md-3(ng-controller='DBConfigController as dbConfig')
            h3 Tables
            input.form-control(type="text" placeholder="Search")
            table.table
                tr(ng-repeat="table in dataProvider.tableList")
                    td
                        input(type="checkbox" ng-model="check" ng-change="dbConfig.selectTable(table)")
                    td
                        a(ng-click="dataProvider.selectTable(table)") {{table}}
            button(ng-click='dbConfig.addTables()') Add
        div.col-md-6
            h3 Data
            div.data-table
                button(ng-click='dataProvider.transposeData()') transpose
                table.table.table-bordered(ng-hide='dataProvider.isHeaderColumn')
                    tr
                        th(ng-repeat='field in dataProvider.tableMetaData.Fields') {{field.Name}}
                    tr(ng-repeat='index in dataProvider.rowIndexes')
                        td(ng-repeat='(field, dataColumn) in dataProvider.tableData') {{dataProvider.tableData[field][index]}}
                table.table.table-bordered(ng-show='dataProvider.isHeaderColumn')
                    tr(ng-repeat='(field, dataColumn) in dataProvider.tableData')
                        th {{field}}
                        td(ng-repeat='cell in dataColumn track by $index') {{cell}}
        div.col-md-3
            h3 Meta data
                h4 Comments
                div.container(ng-repeat='comment in currentMeta.Comments')
                    div {{comment.Text}}
                h4 Properties
                div.container(ng-repeat='(key, value) in currentMeta.Properties')
                    span {{key}}:{{value}}
