div
    table.table
        tr
            th Time
            th Level
            th Component
            th File
            th Line
            th Function
            th Message
        tr(ng-repeat="entry in diag.logEntries | orderBy:'time':true" ng-class='{"text-danger": entry-level === "ERROR", "text-info": entry.level === "INFO"}')
            td {{entry.time | date:'medium'}}
            td {{entry.level}}
            td {{entry.component}}
            td {{entry.file}}
            td {{entry.line}}
            td {{entry.function}}
            td {{entry.message}}
