div.container
    div.row
        div.col-md-3
            h3 Components
            table.table.table-bordered
                tbody
                    tr(
                    ng-repeat='component in componentList'
                    ng-click="$parent.selectedComponent = component")
                        td.btn-success(ng-class="{'selected-component': $parent.selectedComponent === component}")
                            span.glyphicon.glyphicon-hdd
                            span  {{component}}
        div.col-md-6
            h3 Configuration
                button.pull-right.btn.btn-success(ng-click="endpointController.sendConfig()") Save
            table.table
                tr(ng-repeat="item in componentConfig")
                    td {{ item.Data.Scope.Value[0] }} / {{ item.Name }}
                    td
                        input(type="text" ng-if="item.Name.toLowerCase() != 'password'" ng-model="item.Data.Value.Value[0]")
                        input(type="password" ng-if="item.Name.toLowerCase() == 'password'" ng-model="item.Data.Value.Value[0]")

        div.col-md-3
            h3 Endpoints
            div.list-group
                div.small.list-group-item(ng-repeat='infoRow in componentInfo')
                    h6 {{infoRow.SvcType}}
                    div {{infoRow.SocketType}}
                    div {{infoRow.Address}}
