doctype html
html(ng-app='virtdb')
head
    title= title
    link(rel='stylesheet', href='../libs/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
    script(type='text/javascript' src='../libs/jquery.js')
    script(type='text/javascript' src='../libs/angular.js')
    script(type='text/javascript' src='../libs/collapse.js')
    script(type='text/javascript' src='../libs/transition.js')
    script(type='text/javascript' src='../libs/alert.js')
    script(type='text/javascript' src='../libs/angular-route.js')
    script(type='text/javascript' src='../scripts/virtdb-app.js')
    script(type='text/javascript' src='../scripts/data-provider.js')
    script(type='text/javascript' src='../scripts/requests.js')
    script(type='text/javascript' src='../scripts/endpoint-controller.js')
    script(type='text/javascript' src='../scripts/config-controller.js')
    script(type='text/javascript' src='../scripts/server-connector.js')
    script(type='text/javascript' src='../scripts/error-controller.js')
    script(type='text/javascript' src='../scripts/error-service.js')
    script(type='text/javascript' src='../scripts/diagnostics-controller.js')
    script(type='text/javascript' src='../scripts/status-controller.js')

body
    div.navbar.navbar-inverse
        div.container
            div.navbar-header
                a.navbar-brand VirtDB
            div.collaps.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='#data-providers') Data sources
                    li
                        a(href='#component-config') Component config
                    li
                        a(href='#status') Status
                    li
                        a(href='#diag') Diagnostics
                    li
                        a(href='#config') GUI config

    div.container-fluid(ng-controller="ErrorController as errors" ng-hide="errors.errorList.length === 0")
        div.alert.alert-danger.alert-dismissible.fade.in(role="alert" ng-repeat="error in errors.errorList track by $index")
            button.close(data-dismiss="alert" ng-click="errors.removeError(error)")
                span(aria-hidden="true")&times;
            strong Error!
            |   {{error}}

    div.container-fluid(ng-View)
