doctype html
html(ng-app='virtdb')
head
    title= title
    link(rel='stylesheet', href='../libs/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
    script(type='text/javascript' src='../libs/jquery.js')
    script(type='text/javascript' src='../libs/angular.js')
    script(type='text/javascript' src='../libs/collapse.js')
    script(type='text/javascript' src='../libs/transition.js')
    script(type='text/javascript' src='../libs/angular-route.js')
    script(type='text/javascript' src='../scripts/virtdb-app.js')
    script(type='text/javascript' src='../scripts/data-provider.js')
    script(type='text/javascript' src='../scripts/requests.js')
    script(type='text/javascript' src='../scripts/endpoint-controller.js')
    script(type='text/javascript' src='../scripts/config-controller.js')
    script(type='text/javascript' src='../scripts/server-connector.js')
    script(type='text/javascript' src='../scripts/error-controller.js')
    script(type='text/javascript' src='../scripts/error-service.js')

body
    div.navbar.navbar-inverse
        div.container
            div.navbar-header
                a.navbar-brand VirtDB
            div.collaps.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='#data-providers') Data providers
                    li
                        a(href='#endpoints') Endpoints
                    li
                        a(href='#config') Configuration

    div.container-fluid(ng-controller="ErrorController")
        div.alert.alert-danger(role="alert" ng-show="currentError")
            strong Error!
            |   {{currentError}}

    div.container-fluid(ng-View)
