doctype html
html(ng-app='virtdb')
head
    title= title
    link(rel='stylesheet', href='../styles/bootstrap.freelancer.min.css')
    link(rel='stylesheet', href='../styles/freelancer.css')
    link(rel='stylesheet', href='../styles/spinner.css')
    link(rel='stylesheet', href='../styles/onoffbutton.css')
    link(href='../styles/font-awesome.freelancer.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css', media="none", onload="if(media!='all')media='all'")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css', media="none", onload="if(media!='all')media='all'")
    link(rel='stylesheet', href='../styles/style.css')
    link(rel='stylesheet', href='../styles/loginpage.css')
    script(type='text/javascript' src='../libs/jquery.js')
    script(type='text/javascript' src='../libs/angular.js')
    script(type='text/javascript' src='../libs/react.js')
    script(type='text/javascript' src='../libs/ngReact.js')
    script(type='text/javascript' src='../libs/collapse.js')
    script(type='text/javascript' src='../libs/transition.js')
    script(type='text/javascript' src='../libs/alert.js')
    script(type='text/javascript' src='../libs/angular-route.js')
    script(type='text/javascript' src='../scripts/dist/virtdb.js')

body
    div.navbar.navbar-default
        div.container-fluid
            .navbar-header
                a.navbar-brand(href='/')
                    img.logo(src="/images/final_logo_ws_compressed.png", width="125")
    #loginFormContainer.container(ng-controller="UserController as user")
        h1 Login
        div
            form#loginForm(ng-submit='user.login()')
                div#loginLabels
                    div
                        label Username
                    div.input-field
                        input#usernameInput(type="text", name="username", ng-model="username" autofocus)
                    div
                        label Password
                    div.input-field
                        input#passwordInput(type="password", name="password", ng-model="password")
                div
                    span
                        input#submitInput(type="submit", value="Log in")
