div(ng-controller="UserController as users")
    div.modal.fade(id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="edit-user-modal-label" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4.modal-title(id="edit-user-modal-label") {{editAction}} user
                div.modal-body
                    form
                        div.form-group
                            label(for="username") Username
                            input.form-control(type="text" placeholder="Enter username" id="username"
                            ng-disabled="editAction === 'Update'" ng-model="editUserName")
                        div.form-group
                            label(for="password") Password
                            input.form-control(type="password" placeholder="Enter password" id="password"
                            ng-model="editUserPass")
                        div.checkbox
                            label
                                input(type="checkbox" ng-model="editUserIsAdmin")
                                | Admin
                div.modal-footer
                    button.btn.btn-default(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit" ng-click="users.sendUser()" data-dismiss="modal") {{editAction}}

    div
        button.btn.btn-default(ng-click="users.getUserList()") Get users
    div
        button.btn.btn-default.btn-sm(data-toggle="modal" data-target="#edit-user-modal" ng-click="users.createUser()")
            span.glyphicon.glyphicon-plus(aria-hidden="true")
            |   Create user
    table.table.table-condensed
        tr
            th #
            th Name
            th IsAdmin
            th Action
        tr(ng-repeat="(id, user) in userList")
            td {{id}}
            td {{user.Name}}
            td {{user.IsAdmin}}
            td
                .btn-group.btn-group-sm
                    button.btn.btn-default(data-toggle="modal" data-target="#edit-user-modal" ng-click="users.updateUser(id)")
                        span.glyphicon.glyphicon-edit
                    button.btn.btn-default(ng-click="users.deleteUser(id)")
                        span.glyphicon.glyphicon-remove